body {
  background-image: linear-gradient(to top, white, purple);
  /* 'to top' ensures the gradient goes from bottom (purple) to top (white) */
  /* You can adjust the colors and the direction as needed */
  margin: 0;
  height: 100vh; /* Make the body cover the viewport height */
}

container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  /* padding: 20px; */
  border-radius: 10px;
  height: 100vh; /* Ensure the container covers the viewport height */
}
