body {
  background-image: linear-gradient(to top, #aeb080, #775985, #505249);
  /* 'to top' ensures the gradient goes from bottom (purple) to top (white) */
  /* You can adjust the colors and the direction as needed */
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  height: 100vh;
  overflow-y: auto;
}