.article {
  border-style: solid;
  border-width: 5px;
  color: #aeb080;
  background: rgba(174, 176, 128, 0.1);;
  max-width: 800px;
  margin: 25px;
  padding: 25px;
  mix-blend-mode: color-burn;
}
h2 {
  font-size: 30px;
}